@import "tailwindcss";

@theme {
  --color-logofontcolor: #8d7690;
  --color-logocolor: #b4c4aa;
  --color-logohovercolor: #737d6d;
}
:root {
  --background: #737d6d;
  --foreground: #171717;
  --color-logofontcolor: #8d7690;
  --color-logocolor: #b4c4aa;
  --color-logohovercolor: #737d6d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-alexbrush);
  --color-logofontcolor: var(--color-logofontcolor);
  --color-logocolor: var(--color-logocolor);
  --color-logohovercolor: var(--color-logohovercolor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #737d6d;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  color-logofontcolor: var(--color-logofontcolor);
  font-family: Arial, Helvetica, sans-serif;
}
.container-common {
  border-radius: 10px;
  box-shadow: 0 54px 55px rgb(78 78 78 / 25%), 0 -12px 30px rgb(78 78 78 / 25%),
    0 4px 6px rgb(78 78 78 / 25%), 0 12px 13px rgb(78 78 78 / 25%),
    0 -3px 5px rgb(78 78 78 / 25%);
}
