@import "tailwindcss";

@theme {
  --color-logofontcolor: #8d7690;
  --color-logocolor: #b4c4aa;
  --color-logohovercolor: #737d6d;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-logofontcolor: #8d7690;
  --color-logocolor: #b4c4aa;
  --color-logohovercolor: #737d6d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-logofontcolor: var(--color-logofontcolor);
  --color-logocolor: var(--color-logocolor);
  --color-logohovercolor: var(--color-logohovercolor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  color-logofontcolor: var(--color-logofontcolor);
  font-family: Arial, Helvetica, sans-serif;
}
